
{%load static %}
  <link rel="stylesheet" type="text/css" href= "{% static "assets/css/footer-distributed.css" %}" >
  <footer class="footer-distributed">

		<div class="footer-right">

			<a href="https://www.facebook.com/EntrepreneursAtBerkeley/"><i class="fa fa-facebook"></i></a>
			<a href="https://www.linkedin.com/company/entrepreneurs-berkeley/"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/EatB"><i class="fa fa-github"></i></a>
      <a href="https://www.instagram.com/berkeleyentrepreneurs/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.ocf.berkeley.edu">
              <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
                  alt="Hosted by the OCF" style="border: 0;" />
            </a>
		</div>

		<div class="footer-left">

			<p class="footer-links">
				<a href="#">About</a>
				·
				<a href="#">Projects</a>
				·
				<a href="#">Blog</a>
        ·
        <a href="#">Apply</a>
			</p>

			<p>Entrepreneurs @ Berkeley &copy; 2018</p>
		</div>

	</footer>
